@{
    ViewBag.Title = "Home Page";
}
<style>
    body, html {
        height: 100%;
    }

    .home-index {
        background-image: url('../../Images/DangNhap/anhtruong.jpg');
        height: 714px;
        width: 1078px;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 3%;
    }
</style>
<div class="home-index">
</div>
