
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/DangNhap/dangnhap.css" rel="stylesheet" />
<div class="container">
    <div class="mid-cls">
        <div class="form-left-to-w3l">
            @using (Html.BeginForm("KiemTraDangNhap", "DangNhap","POST"))
            {
                @Html.AntiForgeryToken()

                <div class="main">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="icon-head-wthree">
                        <h2><span class="fa fa-diamond t-w3" aria-hidden="true"></span></h2>
                        <h4>Login</h4>
                    </div>
                    <div class="form-left-w3l">
                        <input id="email" type="email" name="userName" placeholder="Email" required="">
                        <div class="clear"></div>
                    </div>
                    <div class="form-right-w3ls ">
                        <input id="pass" type="password" name="password" placeholder="Mật khẩu" required="">
                        <div class="clear"></div>
                    </div>
                    <div class="btnn">
                        <input type="submit" id="dang-nhap" class="btn-success dangnhap-btn" value="Đăng nhập"/><br>
                        <div class="clear"></div>
                    </div>
                    <span class="alert-warning"></span>
                </div>
            }
        </div>
    </div>
</div>

<script>
    @*$(document).ready(function () {
        $('.dangnhap-btn').click(function () {
            var e = $('#email').val();
            var p = $('#pass').val();
            if (email == "" || pass == "" || email == null || pass == null) {
                $('.alert-success').html("Vui lòng điền đầy đủ thông tin đăng nhập !");
                return;
            }
            var ac = {
                email: e,
                pass: p
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("KiemTraDangNhap", "DangNhap")',
                data: JSON.stringify(ac),
                dataType: "json",
                contentType: 'application/json; charset=utf-8'
            }).done(function (data) {
                $('.alert-warning').append(data.result);
            });
        });
    });*@
</script>

