
@{
    ViewBag.Title = "Dăng nhập quản trị";
    Layout = null;
}
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <link href="~/Areas/Admin/Content/Admin/admin.css" rel="stylesheet" />
    <!------ Include the above in your HEAD tag ---------->
</head>
<body id="LoginForm">
    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Đăng nhập phòng giáo vụ</h2>
                    <p>Nhập tên đăng nhập và mật khẩu của bạn để đăng nhập</p>
                </div>
              @using (Html.BeginForm("CheckLogin", "Admin", FormMethod.Post, htmlAttributes: new { @id = "Login" }))
              {
                    <div class="form-group">
                        <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Địa chỉ email" required>
                        <span class="warning email-warning"></span>
                    </div>
                    <div class="form-group">
                        <input name="pass" type="password" class="form-control" id="inputPassword" placeholder="Mật khẩu" required>
                        <span class="warning pass-warning"></span>
                        <span id="notifi-msg" class="warning">@ViewBag.Msg </span>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                 }
            </div>
        </div>
    </div>
</body>
</html>


