
@{
    ViewBag.Title = "Dăng nhập quản trị";
    Layout = null;
}
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <link href="~/Areas/Admin/Content/Admin/admin.css" rel="stylesheet" />
    <!------ Include the above in your HEAD tag ---------->
</head>
<body id="LoginForm">
    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Đăng nhập phòng giáo vụ</h2>
                    <p>Nhập tên đăng nhập và mật khẩu của bạn để đăng nhập</p>
                </div>
                <form id="Login">
                    <div class="form-group">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Địa chỉ email">
                        <span class="warning email-warning"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Mật khẩu">
                        <span class="warning pass-warning"></span>
                        <span id="notifi-msg" class="warning"></span>
                    </div>
                   
                    <button type="submit" class="btn btn-primary" onclick="DangNhap()">Đăng nhập</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        function DangNhap() {
            var em = $('#inputEmail').val();
            if (em === null || em === "") {
                $('.email-warning').text("Vui lòng nhập email của bạn !");
                return;
            }
            var ps = $('#inputPassword').val();
            if (ps === null || ps === "") {
                $('.pass-warning').text("Vui lòng nhập email của bạn !");
                return;
            }

            var dn = {
                email: em,
                pass : ps
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("CheckLogin", "Admin")',
                data: JSON.stringify(dn),
                dataType: "json",
                contentType: 'application/json; charset=utf-8'
            }).done(function (data) {
                if (data !== null) {
                    if (data.msg === "OK") {
                        window.location.href = '@Url.Action("Index","Khoas")';
                    }
                    else {
                        $('#notifi-msg').text("Email hoặc mật khẩu không tồn tại!");
                        return;
                    }
                }
            }).fail(function () {
                alert("Kết nối server lỗi !");
            });
            return false;
        }
    </script>
</body>
</html>


