@model DAO.Khoa

@{
    ViewBag.Title = "Chi tiết khoa";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Khoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhoa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaKhoa }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
